@media screen and (max-width: 500px){
	#cabecalho{
		display: none;
	}

	#cabecalho{
		display: flex;
	    justify-content: space-around;
	    height: 75px;
	    align-content: center;
	    flex-wrap: wrap;
	    font-size: 25px;
	}

	#cabecalho > *{
		flex: 1;
	}

	#cabecalho > #imgCab{
		flex: 1;
	}

	#menu_escondido{
		display: flex;
		position: relative;
		justify-content: center;
	}

	#menu_escondido > i{
		display: flex;
	}

	#menu_navegacao{
		display: none;
		width: 90%;
	    z-index: 999;
	    margin: 0px;
	    border: 1px solid #fff;
	    background-color: #808080;
		top: 30px;
		position: absolute;
		flex-direction: column;
	}

	#cabecalho > div > nav > a{
		padding: 10px 20px;
	}
	
	aside{
		display: none;
	}

	#apresentation{
		flex-direction: column;
	}	

	#shortText{
		align-items: center;
	}

	#carrosel > span{
		margin: 0px 5px;
	}

	#painelCarrosel{
		width: 100%;
	}

	#txtCentral{
		font-size: 18px;
	}

	#agradecimento{
		display: none;
	}

	#mapa{
		display: none;
	}

	#contato{
		align-items: center;
	}
}